appnope==0.1.0
bumpversion==0.5.3
cffi==1.2.1
cryptography==1.0
decorator==4.0.2
enum34==1.0.4
gnureadline==6.3.3
idna==2.0
ipaddress==1.0.14
ipython==4.0.0
ipython-genutils==0.1.0
ndg-httpsclient==0.4.0
path.py==7.6.1
pexpect==3.3
pickleshare==0.5
pyasn1==0.1.8
pycparser==2.14
pyOpenSSL==0.15.1
rauth==0.7.1
requests==2.8.1
simplegeneric==0.8.1
six==1.9.0
traitlets==4.0.0
wheel==0.23.0
xmltodict==0.9.2
